/*.multi_bg{
   background-image: url("images/logoClear.png");
	background-size:8%;
   background-position: right bottom; /*Positioning
   /*background-repeat: no-repeat;*/ /*Prevent showing multiple background images
}
*/